<!DOCTYPE html>
<html>
<head>
  <title>Bill #{{ bill.id }}</title>
  <link rel="stylesheet" href="/static/css/bill_detail.css">
</head>
<body>

<div class="invoice">

  <header>
    <h2>Invoice</h2>
    <p>Bill #{{ bill.id }}</p>
    <p>{{ bill.timestamp.strftime('%d %b %Y %H:%M') }}</p>
  </header>

  <section class="customer">
    <strong>Customer:</strong>
    <p>{{ bill.customer_name or 'Walk-in' }}</p>
    {% if bill.customer_phone %}
      <p>{{ bill.customer_phone }}</p>
    {% endif %}
    {% if bill.customer_address %}
      <p>{{ bill.customer_address }}</p>
    {% endif %}
  </section>

  <table class="items">
    <thead>
      <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>MRP</th>
        <th>Discount</th>
        <th>Rate</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for i in items %}
      <tr>
        <td>{{ i.item_name }}</td>
        <td>{{ i.qty }}</td>
        {% set discount_value = i.item_discount_value or 0 %}

{% set discount =
  discount_value
  if i.item_discount_type == '₹'
  else (i.unit_price * discount_value / 100)
%}

<td>₹{{ "%.2f"|format(i.unit_price + discount) }}</td>

        <td>
          {% if i.item_discount_type == '₹' %}
            ₹{{ "%.2f"|format(i.item_discount_value) }}
          {% elif i.item_discount_type == '%' %}
            {{ "%.2f"|format(i.item_discount_value) }}%
          {% else %}
            -
          {% endif %}
        <td>₹{{ "%.2f"|format(i.unit_price) }}</td>
        <td>₹{{ "%.2f"|format(i.final_item_amount) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <section class="totals">
    <p>Subtotal: ₹{{ "%.2f"|format(bill.subtotal) }}</p>
    {% if bill.bill_discount_value %}
      <p>Discount: {{ bill.bill_discount_type }} {{ bill.bill_discount_value }}</p>
    {% endif %}
    <p class="final">Final: ₹{{ "%.2f"|format(bill.final_amount) }}</p>
  </section>

</div>
<button onclick="sendWhatsApp()">
  📲 Send Bill on WhatsApp
</button>


</body>
<script>
  function sendWhatsApp() {
    const phone = "{{ bill.customer_phone }}";
    console.log("phone:", phone);
    if (!phone) {
      alert("Customer phone number is not available.");
      return;
    }
    if (phone.length < 10) {
      alert("Invalid phone number.");
      return;
    }
    const bill_link = "ksa-2-0.onrender.com/bill/{{ bill.id }}";
    const message = encodeURIComponent(`Hello {{ bill.customer_name or 'Customer' }}, your bill amount is ₹{{ "%.2f"|format(bill.final_amount) }}. You can view your bill here: ${bill_link} Thank you for your business!`);
    const url = `https://wa.me/91${phone}?text=${message}`;
    window.open(url, '_blank');
  }
  </script>
</html>
